<%= f.input :child_name, as: :hidden %>
<%= f.input :hour_preference, as: :hidden %>
<%= f.input :day_preference, as: :hidden %>
<%= f.input :diary_study, as: :hidden %>

<div class="bg-purple-900 p-5 md:p-10 mx-2">
  <h1 class="text-4xl text-yellow-200">
    You're almost done
  </h1>

  <h2 class="font-normal text-lg text-white">
    Tell us how you found out about our service, and what you are interested in
  </h2>

  <%= f.button :submit, "Skip this section", class: 'link text-white', data: { turbo_submits_with: 'Skipping...' } %>
</div>

<div class="mt-8 w-full px-5">
  <%= f.input :referral_source, required: false, label: "How did you find out about us?", as: :select, include_blank: true, collection: ["Social media", "Referral by a professional", "Flyer/Poster", "Email", "Other"], input_html: { class: "w-full" } %>
  
  <%= f.input :interests, as: :check_boxes, collection: Interest::TITLES, wrapper_html: { class: "mt-5 flex flex-col gap-2" }, label: "What are you interested in?", hint: "You can select more than one", required: false %>
  
  <%= f.input :new_language_preference, required: false, label: "We're currently available in English, with more languages on the horizon! Let us know your preferred language to help shape our future offerings", input_html: { class: "w-full" }, wrapper_html: { class: "mt-5" } %>

  <div class="mt-5 flex flex-col gap-2">
    <%= f.button :submit, "Next", class: 'btn bg-purple-600 text-white', data: { turbo_submits_with: 'Saving...' } %>
    <%= f.button :submit, "Back", class: 'btn bg-purple-200 text-black', name: "move_back" %>
  </div>
</div>
