<%= f.input :child_name, as: :hidden %>
<%= f.input :hour_preference, as: :hidden %>
<%= f.input :day_preference, as: :hidden %>
<%= f.input :diary_study, as: :hidden %>
<%= f.input :referral_source, as: :hidden %>
<%= f.input :interests, as: :hidden %>
<%= f.input :new_language_preference, as: :hidden %>
<%= f.input :email, as: :hidden %>

<div class="mx-auto max-w-prose">
  <div class="bg-purple-900 p-5 md:p-10 mx-2">
    <h1 class="text-4xl text-yellow-200">Diary study consent</h1>

    <p class="mb-3 text-white">
      Thank you for agreeing to be interviewed for our diary study.
    </p>

    <p class="text-white">
      Please read each statement below carefully and indicate your agreement by checking the checkbox.
    </p>
  </div>

  <ul class="px-5 mt-5">
    <li class="mb-3">
      <input type="checkbox" id="user_profile_info_sheet" name="user_profile[info_sheet]">
      <label for="user_profile_info_sheet" class="ml-2">I have read and understood the <%= link_to "information sheet", diary_study_path, class: "link", target: "_blank" %> about this research.</label>
    </li>
    <li class="mb-3">
      <input type="checkbox" id="user_profile_questions" name="user_profile[questions]">
      <label for="user_profile_questions" class="ml-2">I have been able to ask questions I have about the research and I am happy with the answers I have been given.</label>
    </li>
    <li class="mb-3">
      <%= f.input :can_be_quoted_for_research, as: :boolean, inline_label: "I agree that my words can be quoted anonymously in presentations and reports about this project. Anonymously means that the research team will not publish anyone’s real name (optional).", label: false, input_html: { class: "form-checkbox" }, wrapper_html: { class: "mt-1" } %>
    </li>
    <li class="mb-3">
      <input type="checkbox" id="user_profile_confidential" name="user_profile[confidential]">
      <label for="user_profile_confidential" class="ml-2">I understand that the information I give will remain confidential unless it suggests that someone is at risk of serious harm. This means the information will be kept private, and that information about me will not be shared with anyone outside of the research team.</label> 
    </li>
    <li class="mb-3">
      <input type="checkbox" id="user_profile_storage" name="user_profile[storage]">
      <label for="user_profile_storage" class="ml-2">I understand that my information will only be used for this project and will be securely stored by Nesta for three years, after which it will be deleted. Nesta will collect and store the following data: my name, diary responses, email, phone number, and my child's age. If I request a physical copy of my diary, Nesta will also store my address. Additionally, if I complete the demographic information form, Nesta will store my age, gender, family size, income level, ethnicity, education level, marital status and employment status.</label>
    </li>
    <li class="mb-3">
      <input type="checkbox" id="user_profile_withdraw" name="user_profile[withdraw]">
      <label for="user_profile_withdraw" class="ml-2">I understand that I can withdraw my consent to participate in this study at any time before or during the diary study, and until my data has been analysed. After analysis, I can request the removal of my personal details from Nesta’s records, but my words might still appear in the research report or presentation.</label>
    </li>
    <li class="mb-3">
      <%= f.input :can_be_contacted_for_research, as: :boolean, inline_label: "I agree that someone can contact me to ask if I want to take part in other activities related to this research (optional).", label: false, input_html: { class: "form-checkbox" }, wrapper_html: { class: "mt-1" } %>
    </li>
    <li>
      <%= f.input :consent, as: :boolean, inline_label: "I agree to take part in this research", label: false, input_html: { class: "form-checkbox" }, wrapper_html: { class: "mt-1" } %>
    </li>
  </ul>

  <div class="mt-5 flex flex-col gap-2 px-5">
    <%= f.submit "Submit", class: 'btn bg-purple-600 text-white w-full' %>
    <%= f.submit "I'm not interested", class: 'btn bg-gray-300 text-black w-full' %>
  </div> 
</div>
