<%= f.input :child_name, as: :hidden %>
<%= f.input :hour_preference, as: :hidden %>
<%= f.input :day_preference, as: :hidden %>
<%= f.input :diary_study, as: :hidden %>
<%= f.input :referral_source, as: :hidden %>
<%= f.input :interests, as: :hidden %>
<%= f.input :new_language_preference, as: :hidden %>

<div class="bg-purple-900 p-5 md:p-10 mx-2">
  <h1 class="text-4xl text-yellow-200 mb-0">
    Thank you for your interest in our diary study
  </h1>
</div>

<div class="mt-8 w-full px-5">
  <h2 class="mb-3 text-xl">
    What will you be doing?
  </h2>

  <ul class="mb-8 list-disc pl-3">
    <li>
      Spend just <span class="font-bold">2 minutes a day</span> jotting down how the programme has worked for you and your little one 
    </li>
    <li>
      At the end of each week, take <span class="font-bold">5–10 minutes</span> to reflect on your experience and send us your diary 
    </li>
    <li>
      Receive a thank-you <span class="font-bold">£100 voucher at the end of 4 weeks</span> (£20 at the end of every week + a £20 completion bonus) 
    </li>
  </ul>

  <h2 class="mb-3 text-xl">
    Why is this important?
  </h2>

  <p class="mb-3">
    Your reflections will help us understand parents’ preferences and improve the programme for families across the UK. 
  </p>

  <p class="mb-8">
    <%= link_to "Read more about what's involved", diary_study_path, class: "link", target: "_blank" %>
  </p>

  <h2>
    What's next?
  </h2>

  <%= f.input :email, wrapper_html: { class: "mt-5" }, input_html: { class: "w-full" }, hint: "We need this to be able to send you the diary study template" %>

  <%= f.input :incentive_receipt_method, as: :check_boxes, collection: ["Option 1: Receive my £100 voucher at the end of the study, after I have submitted all 4 weeks of reflections.", "Option 2: Receive £20 per week, after we receive your completed weekly reflections, and a £20 bonus at the end of the study for completing each week."], wrapper_html: { class: "mt-5 flex flex-col gap-2" }, label: "How would you like to receive your incentive(s)? Please tick the option you prefer.", required: true %>

  <p class="mt-5">
    If you're happy to take part, we need to make sure you're comfortable participating in this research. We'll ask you to confirm that you understand what's involved and agree to take part.
  </p>
  
  <div class="mt-5">
    <%= f.submit "I'd like to take part", class: 'btn bg-purple-600 text-white w-full' %>
    <%= f.submit "I'm not interested", class: 'btn bg-gray-300 text-black w-full mt-5' %>
  </div>
</div>
