<%= f.input :child_name, as: :hidden %>
<%= f.input :hour_preference, as: :hidden %>
<%= f.input :day_preference, as: :hidden %>
<%= f.input :diary_study, as: :hidden %>
<%= f.input :referral_source, as: :hidden %>
<%= f.input :interests, as: :hidden %>

<div class="bg-purple-900 p-5 md:p-10 mx-2">
  <h1 class="text-4xl text-yellow-200 mb-0">
    Thank you for your interest in our diary study
  </h1>
</div>

<div class="mt-8 w-full px-5">
  <h2 class="mb-3 text-xl">
    What will you be doing?
  </h2>

  <ul class="mb-8 list-disc pl-3">
    <li>
      Spend just <span class="font-bold">2 minutes a day</span> jotting down how the programme has worked for you and your little one 
    </li>
    <li>
      At the end of each week, take <span class="font-bold">5–10 minutes</span> to reflect on your experience and send us your diary 
    </li>
    <li>
      Receive a thank-you <span class="font-bold">£100 voucher at the end of 4 weeks</span> (£20 at the end of every week + a £20 completion bonus) 
    </li>
  </ul>

  <h2 class="mb-3 text-xl">
    Why is this important?
  </h2>

  <p class="mb-3">
    Your reflections will help us understand parents’ preferences and improve the programme for families across the UK. 
  </p>

  <p class="mb-8">
    <%= link_to "Read more about what's involved", diary_study_path, class: "link", target: "_blank" %>
  </p>

  <h2>
    What's next?
  </h2>
  <%= f.input :diary_study_contact_method, as: :select, collection: ["Phone call", "Email"], label: "If you are happy to take part, please let us know how you we can best contact you regarding the next steps:", wrapper_html: { "data-action": "change->users#showForm" }, input_html: { class: "w-full" } %>
  <%= f.input :email, wrapper_html: { class: "hidden mt-5" }, input_html: { class: "w-full" } %>
  
  <div class="mt-5">
    <%= f.submit "Save", class: 'btn bg-purple-600 text-white w-full' %>
    <%= f.submit "I'm not interested", class: 'btn bg-gray-300 text-black w-full mt-5' %>
  </div>
</div>
