<% content_for(:page_title) { "Personalise your experience" } %>

<div class="bg-bbc-dark-blue p-5 md:p-10 mx-2">
  <h1 class="text-4xl text-bbc-yellow">
    <%= t("pages.form.personalisation.title") %>
  </h1>

  <h2 class="font-normal text-lg text-white">
    <%= t("pages.form.personalisation.blurb") %>
  </h2>

  <%= f.button :submit, t("pages.form.personalisation.skip"), class: 'link text-white', data: { turbo_submits_with: 'Skipping...' } %>
</div>

<div class="mt-6 w-full px-5">
  <%= f.input :first_name, label: "What’s your name? (optional)", hint: "So we know what to call you", required: false, input_html: { class: "w-full" } %>

  <%= f.input :child_name, required: false %>
  
  <%= 
    f.input :day_preference,
    as: :select, 
    collection: [[:monday, 1], [:tuesday, 2], [:wednesday, 3], [:thursday, 4], [:friday, 5], [:saturday, 6], [:sunday, 0], [:no_preference, 2]],
    label_method: lambda { |el| t "simple_form.options.user_profile.day_preference.#{el.first}" },
    wrapper_html: { class: "flex flex-col mt-5" },
    required: false,
    include_blank: false
  %>
  
  <%= 
    f.input :hour_preference,
    as: :select,
    collection: [[:morning, "morning"], [:afternoon, "afternoon"], [:evening, "evening"], [:no_preference, "no_preference"]],
    wrapper_html: { class: "flex flex-col mt-5" },
    label_method: lambda { |el| t "simple_form.options.user_profile.hour_preference.#{el.first}" },
    required: false,
    include_blank: false
  %>

  <%= f.input :language, label: "Would you like to receive your texts in Welsh or English?", as: :select, collection: [["Welsh", "cy"], ["English", "en"]], wrapper_html: { class: "flex flex-col mt-5" }, required: false, include_blank: false, hint: "Our videos are in English. We’re working on bringing Welsh versions soon!" %>

  <%= f.input :education_status, label: "What is the highest level of education you have completed?", as: :select, collection: [["No qualifications", "no_qualifications"], ["Comprehensive/Secondary", "comprehensive_secondary"], ["Post-school qualifications", "post_school"], ["I don't want to say", "prefer_not_to_say"]], wrapper_html: { class: "flex flex-col mt-5" }, required: false, include_blank: true, hint: "To make sure this service works well for everyone, we look at whether it is equally helpful for parents with different education experiences." %>

  <div class="mt-5">
    <%= f.button :submit, class: 'btn bg-purple-600 text-white w-full', data: { turbo_submits_with: t("pages.form.personalisation.saving") } %>
  </div>
</div>
