<div class="flex justify-around">
  <div class="w-3/4">
    <div class="flex justify-between items-baseline">
      <h1>Message contents</h1>
      <%= link_to "Create content group", new_group_path, class: "btn btn-primary bg-purple-600 text-white" %>
    </div>
    <p>The messages we send caregivers are grouped by the age of their child (in months).</p>
    <table class="table-auto mt-5 w-full">
      <thead>
        <tr class="px-4 py-4 bg-purple-300 text-left">
          <th class="p-4">Content group name</th>
          <th class="p-4">Child age</th>
          <th class="p-4">No. of messages</th>
          <th class="p-4">Experiment</th>
          <th>&nbsp</th>
        </tr>
      </thead>
      <tbody class="bg-white">
        <% @groups.each do |group| %>
          <tr class="border-b-2">
            <td class="p-4"><%= link_to group.name, group, class: "underline hover:no-underline" %></td>
            <td class="p-4"><%= group.age_in_months %> months</td>
            <td class="p-4"><%= group.contents.size %></td>
            <td class="p-4">
              <%= link_to "Edit", edit_group_path(group), class: "underline hover:no-underline" %>
              <%= link_to "Delete", group_path(group), class: "underline hover:no-underline", data: {turbo_method: :delete, turbo_confirm: 'Are you sure? This will also delete all the content in this group'} %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
