<div class="flex justify-around">
  <div class="w-3/4">
    <div class="mb-2">
      <%= link_to '< Back', groups_path, class: 'underline hover:no-underline' %>
    </div>
    <div class="flex justify-between items-baseline">
      <h1><%= @group.name %></h1>
      <%= link_to "Add new message", new_group_content_path(@group), class: "btn btn-primary bg-purple-600 text-white" %>
    </div>
    <p>Messages will be sent in the order they are shown.</p>
    <table class="table-auto mt-5">
      <thead>
        <tr class="px-4 py-4 bg-purple-300 text-left">
          <th class="p-4"></th>
          <th class="p-4 w-3/5">Body</th>
          <th class="p-4 w-2/5">Link</th>
          <th>&nbsp</th>
        </tr>
      </thead>
      <tbody class="bg-white" data-controller="sortable" data-sortable-handle-value=".cursor-grab">
        <% @group.contents.order(:position).each do |content| %>
          <tr class="border-b-2" data-sortable-update-url="<%= update_position_path(content) %>">
            <td class="p-4">
              <svg class="cursor-grab" width="20px" height="20px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#ccc"><path d="M3 5H21" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M3 12H21" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M3 19H21" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
            </td>
            <td class="p-4"><%= content.body %></td>
            <td class="p-4"><%= content.link %></td>
            <td class="p-4">
              <%= link_to "Edit", edit_group_content_path(@group, content), class: "underline hover:no-underline" %>
              <%= link_to "Delete", group_content_path(@group, content), class: "underline hover:no-underline", data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
