<div class="md:mt-8 w-full">
  <%= turbo_frame_tag "form" do %>
    <%= simple_form_for @user, anchor: "sign-up-form"  do |form| %>
      <% if notice %>
        <p class="border border-blue-500 bg-blue-50 text-blue-900 p-3 mb-8">
          <%= notice %>
        </p>
      <% end %>
      <div class="flex gap-2">
        <%= form.input :first_name, input_html: { class: "w-full" }, wrapper_html: { class: "md:w-1/2" } %>

        <%= form.input :last_name, input_html: { class: "w-full" }, wrapper_html: { class: "md:w-1/2" } %>
      </div>

      <%= form.input :phone_number, wrapper_html: { class: "mt-3 w-full" }, input_html: { class: "md:w-1/3" } %>

      <%= form.input :postcode, wrapper_html: { class: "md:w-1/2 mt-3" } %>

      <%= 
        form.input :child_birthday,
        as: :date,
        order: [:month, :year],
        wrapper_html: { class: "mt-3" },
        input_html: { class: "md:w-1/4 mt-3" } 
      %>

      <%= form.input :language, as: :select, collection: @languages, wrapper_html: { class: "mt-3" }, selected: @languages.first  %>

      <%= form.input :terms_agreed_at, as: :boolean, label: false, inline_label: t('simple_form.labels.user.terms_agreed_at', terms: (link_to(t('pages.home.terms'), terms_path, class: 'underline hover:no-underline', target: '_blank')), privacy: (link_to(t('pages.home.privacy'), privacy_policy_path, class: 'underline hover:no-underline', target: '_blank'))).html_safe, input_html: { class: "form-checkbox" }, wrapper_html: { class: "mt-4 mb-2 md:mt-8 text-xs md:text-base" }  %>

      <%= form.submit "Sign up", class: "btn btn-primary mt-2 bg-bbc-dark-blue text-white w-full", "data-turbolinks": "false" %>
    <% end %>
  <% end %>
  <div class="hidden text-red-600"></div>
</div>
