<h1 class="text-3xl">Messages received</h1>
<table class="table-auto w-full">
  <thead>
    <tr class="bg-blue-300 text-left">
      <th class="px-4 py-4">Name</th>
      <th class="px-4 py-4">Message</th>
      <th class="px-4 py-4">Received</th>
      <td>
        &nbsp;
      </td>
    </tr>
  </thead>
  <tbody>
    <% @messages.order(:created_at).each do |message| %>
      <tr class="border-b-2">
        <td class="px-4 py-4 bg-white">
          <%= link_to "#{message.user.first_name} #{message.user.last_name}", user_path(message.user), class: "underline hover:no-underline" %>
        </td>
        <td class="px-4 py-4 bg-white">
          <%= message.body %>
        </td>
        <td class="px-4 py-4 bg-white">
          <%= message.created_at.strftime("%d/%m/%y") %>
        </td>
        <td class="px-4 py-4 bg-white text-right">
          <%= simple_form_for message, url: user_message_path(user_id: message.user, id: message.id) do |f| %>
            <%= hidden_field_tag 'seen', 'true'  %>
            <%= f.submit "Mark as seen", class: "link" %>
          <% end %>
          <%= link_to "Reply", new_user_message_path(message.user), class: "underline hover:no-underline" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
