<div class="flex justify-around" data-controller="users">
  <div class="w-3/4">
    <h1 class="text-3xl">Users</h1>
    <table class="table-auto w-full">
      <thead>
        <tr class="bg-purple-300 text-left">
          <th class="px-4 py-4">Name</th>
          <th class="px-4 py-4">Phone number</th>
          <th class="px-4 py-4">Child's current age</th>
        </tr>
      </thead>
      <tbody>
        <% @users.contactable.order(:last_name, :first_name).each do |user| %>
          <tr class="border-b-2">
            <td class="px-4 py-4 bg-white">
              <%= link_to user.full_name, user_path(user), class: "underline hover:no-underline" %>
            </td>
            <td class="px-4 py-4 bg-white">
              <%= user.phone_number %>
            </td>
            <td class="px-4 py-4 bg-white">
              <%= user.child_age_in_months_today %> months
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <p class="mt-10 mb-5">
      <%= link_to "> Users who have stopped the service (#{@users.opted_out.count})", "#", class: "underline hover:no-underline", "data-action": "click->users#toggle" %>
    <p>
    <table class="table-auto w-full hidden users-table">
      <thead>
        <tr class="bg-purple-300 text-left">
          <th class="px-4 py-4">Name</th>
          <th class="px-4 py-4">Child's current age</th>
        </tr>
      </thead>
      <tbody>
        <% @users.opted_out.each do |user| %>
          <tr class="border-b-2">
            <td class="px-4 py-4 bg-white">
              <%= link_to user.full_name, user_path(user), class: "underline hover:no-underline" %>
            </td>
            <td class="px-4 py-4 bg-white">
              <%= user.child_age_in_months_today %> months
            </td>
          </tr>
        <% end %>
      </tbody>
  </div>
</div>
