<div class="absolute top-16 left-0">
  <div class="md:flex bg-red-200 px-3 py-5 md:pt-24 md:px-28 md:pb-0">
    <div class="md:w-7/12 md:mr-4">
      <h1 class="md:text-5xl text-purple-900">
        Fun, free happiness-boosting activities to enjoy with your child
      </h1>
      <p class="text-md md:text-xl mt-6 md:mt-8 mb-0">
        “A great guide and confidence builder knowing we were doing alot right and then fantastic guidance in what we can do and apply to further develop our child." - Ali's mum
      </p>
    </div>
    <div class="hidden md:block w-5/12">
      <%= image_tag "phones.png" %>
    </div>
  </div>

  <div class="px-3 py-5 md:py-24 md:px-28 bg-amber-300 items-center">
    <div class="flex justify-around">
      <h2 class="md:text-4xl md:mb-20 mb-10 text-center w-5/6">
        Get bite-sized activities that spark imagination and connection delivered to your phone, every week
      </h2>
    </div>
    <div class="flex justify-between">
      <div class="w-full flex flex-col md:flex-row justify-around gap-8">
        <div class="flex flex-col items-center gap-5">
          <div class="w-24 h-24 md:w-40 md:h-40 flex items-center justify-around">
            <div>
              <%= image_tag "noun-mobile.png" %>
            </div>
          </div>
          <p class="md:text-3xl text-center w-64">
            Sign up with your mobile number
          </p>
        </div>
        <div class="flex flex-col items-center gap-5">
          <div>
            <div class="w-24 h-24 md:w-40 md:h-40 flex items-center justify-around">
              <div>
                <%= image_tag "noun-sms.png" %>
              </div>
            </div>
          </div> 
          <p class="md:text-3xl text-center md:w-96">
            Get weekly text messages featuring short videos that demonstrate fun activities to enjoy with your child
          </p>
        </div>
        <div class="flex flex-col items-center gap-5">
          <div class="w-24 h-24 md:w-40 md:h-40 flex items-center justify-around">
            <div>
              <%= image_tag "noun-child.png" %>
            </div>
          </div>
          <p class="md:text-3xl text-center w-64">
            Try them out!
          </p>
        </div>
      </div>
    </div>
  </div> 

  <div class="flex justify-around" id="sign-up-form">
    <div class="py-8 px-8 md:py-24 md:w-5/12 w-full">
      <h2 class="text-purple-900 md:text-4xl text-2xl">
        Sign up to receive texts
      </h2>
      <%= render "form" %>
    </div>
  </div>
</div>
