<div class="absolute left-0" style="top: 72px;">
  <div class="relative overflow-hidden">
    <div class="absolute left-0 top-0 w-full h-full hidden md:block" style="background: url(<%= image_url('children-playing.jpg') %>) no-repeat center center; background-size: cover; height: 90svh; opacity: .9">
    </div>
    <div class="bg-purple-900 md:bg-transparent md:flex md:flex-col p-5 relative hero-banner md:px-24 md:justify-around">
      <div class="md:w-3/5 md:bg-purple-900 md:p-6 xl:p-8 flex flex-col justify-between h-fit">
        <h1 class="text-3xl lg:text-4xl xl:text-5xl text-yellow-200">
          Nurture your child's growth with fun, free activities
        </h1>
        <h2 class="text-2xl lg:text-3xl text-pink-200">
          Get bite-sized, expert-crafted activities that spark imagination - delivered to your phone, every week
        </h2>
        <p class="text-md text-lg l:text-xl text-white xl:w-5/6">
          “A great guide and confidence builder knowing we were doing a lot right and then fantastic guidance in what we can do and apply to further develop our child."<br>- Ali's mum
        </p>
        <%= link_to "Sign up", "#sign-up-form", class: "btn bg-purple-300 float-end md:w-1/3 mt-4" %>
      </div>
    </div>
  </div>
  <div class="block md:hidden">
    <%= image_tag "children-playing.jpg", alt: "Father smiling at his young child" %>
  </div>

  <div class="px-3 py-6 md:py-24 md:px-28 bg-red-100 items-center">
    <div class="flex justify-around">
      <h2 class="md:text-4xl md:mb-20 mb-10 text-center w-5/6 ">
        How does it work?
      </h2>
    </div>
    <div class="flex justify-between">
      <div class="w-full flex flex-col md:flex-row justify-around gap-8">
        <div class="flex flex-col items-center gap-5">
          <div class="w-24 h-24 md:w-40 md:h-40 flex items-center justify-around">
            <div>
              <%= image_tag "noun-mobile.png", alt: "Mobile phone" %>
            </div>
          </div>
          <div>
            <p class="md:text-3xl text-center w-64 font-bold mb-1 md:mb-3">
              1. Sign up
            </p>
            <p class="md:text-xl text-center w-64">
              Enter your mobile number to begin your journey
            </p>
          </div>
        </div>
        <div class="flex flex-col items-center gap-5">
          <div>
            <div class="w-24 h-24 md:w-40 md:h-40 flex items-center justify-around">
              <div>
                <%= image_tag "noun-sms.png", alt: "Text message" %>
              </div>
            </div>
          </div> 
          <div>
            <p class="md:text-3xl text-center w-64 font-bold mb-1 md:mb-3">
              2. Get texts
            </p>
            <p class="md:text-xl text-center w-64">
              Receive weekly text messagaes with short, engaging videos
            </p>
          </div>
        </div>
        <div class="flex flex-col items-center gap-5">
          <div class="w-24 h-24 md:w-40 md:h-40 flex items-center justify-around">
            <div>
              <%= image_tag "noun-child.png", alt: "Happy child" %>
            </div>
          </div>
          <div>
            <p class="md:text-3xl text-center w-64 font-bold mb-1 md:mb-3">
              3. Enjoy
            </p>
            <p class="md:text-xl text-center w-64">
              Try out fun, tailored activities that fit seamlessly into your day
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="px-4 py-6 md:py-24 md:px-28 items-center bg-yellow-100">
    <div class="flex justify-around">
      <h2 class="md:text-4xl md:mb-20 mb-8 text-center w-5/6">
        The Tiny Happy People offer
      </h2>
    </div>
    <div class="grid md:grid-cols-3 gap-5 grid-cols-1">
      <div class="bg-white rounded-lg p-5">
        <h3 class="font-bold md:text-xl text-lg">Personalised approach</h3>
        <p>
          Your journey is tailored to your family's unique needs
        </p>
      </div>
      <div class="bg-white rounded-lg p-5">
        <h3 class="font-bold md:text-xl text-lg">Parenting support</h3>
        <p>
          We offer encouragement through the ups and downs
        </p>
      </div>
      <div class="bg-white rounded-lg p-5">
        <h3 class="font-bold md:text-xl text-lg">Easy to engage</h3>
        <p>
          Activities are simple, fun, and free to try with your child
        </p>
      </div>
      <div class="bg-white rounded-lg p-5">
        <h3 class="font-bold md:text-xl text-lg">Expert-designed</h3>
        <p>
          Each activity is crafted to support your child's language and learning
        </p>
      </div>
      <div class="bg-white rounded-lg p-5">
        <h3 class="font-bold md:text-xl text-lg">Strengthen bonds</h3>
        <p>
          Enjoy quality time that enhances your parent-child relationship
        </p>
      </div>
    </div>
  </div> 

  <div class="flex justify-around" id="sign-up-form">
    <div class="py-8 px-8 md:py-24 md:w-1/2 w-full">
      <h2 class="text-purple-900 md:text-4xl text-2xl">
        Sign up
      </h2>
      <%= render "form" %>
    </div>
  </div>
</div>
