<div class="flex">  
  <div class="w-full md:w-1/2 px-5 py-6 md:py-16 md:px-28 bg-zinc-50">    
    <h1 class="text-purple-900 md:text-4xl text-2xl">
      Be first in line for our free happiness-boosting activities
    </h1>
    <h2 class="text-lg md:text-2xl text-black">
      Join our waitlist for early access
    </h2>
    <div class="md:mt-8 w-full">
      <%= simple_form_for @user do |form| %>
        <div class="md:w-2/3 mt-3">
          <%= form.input :first_name%>
        </div>

        <div class="md:w-2/3 mt-3">
          <%= form.input :last_name %>
        </div>

        <div class="md:w-2/3 mt-3">
          <%= form.input :phone_number %>
        </div>

        <div class="md:w-2/3 mt-3">
          <%= form.input :child_age, label: "Your child's age in months" %>
        </div>

        <%= form.input :interest_ids, as: :hidden, input_html: { value: params["interest_ids"] } %>

        <%= form.submit "Sign Up", class: "btn btn-primary mt-5 bg-purple-600 text-white w-full md:w-2/3" %>
      <% end %>
    </div>
  </div>
  <%= image_tag "mother_baby", class: "hidden md:block w-1/2 max-h-screen" %>
</div>
