<div class="flex justify-around bg-zinc-50">  
  <div class="w-full md:w-5/12 px-5 py-6 md:py-16">    
    <h1 class="text-purple-900 md:text-4xl text-2xl">
      Be first in line for our free happiness-boosting activities
    </h1>
    <h2 class="text-lg md:text-2xl text-black">
      Join our waitlist for early access
    </h2>
    <div class="md:mt-8 w-full">
      <%= simple_form_for @user do |form| %>
        <div class="mt-3">
          <%= form.input :first_name%>
        </div>

        <div class="mt-3">
          <%= form.input :last_name %>
        </div>

        <div class="mt-3">
          <%= form.input :phone_number %>
        </div>

        <div class="mt-3">
          <%= form.input :child_age, label: "Your child's age in months" %>
        </div>

        <%= form.input :interest_ids, as: :hidden, input_html: { value: params["interest_ids"] } %>

        <p class="mt-6 text-s">
          By submitting this form, you consent to us using your details to provide you with an update about Tiny Happy People. We will keep your details safe, and you can change your mind about hearing from us by getting in touch.
        </p>

        <%= form.submit "Sign Up", class: "btn btn-primary mt-5 bg-purple-600 text-white w-full" %>
      <% end %>
    </div>
  </div>
</div>
