<% content_for(:page_title) { I18n.t("pages.about_us.page_title") } %>

<div class="px-3 md:flex justify-around py-8 xl:py-10">
  <div class="md:w-1/2">
    <h1 class="mb-2 text-3xl md:text-4xl text-blue-900">
      <%= t('pages.about_us.title') %>
    </h1>
    <h2 class="mt-5 mb-3 text-xl md:text-2xl text-blue-900">
      <%= t('pages.about_us.para1_title') %>
    </h2>
    <p>
      <%= t('pages.about_us.para1_text') %>
    </p>

    <h2 class="mt-5 mb-3 text-xl md:text-2xl text-blue-900">
      <%= t('pages.about_us.para2_title') %>
    </h2>
    <p class="mb-3">
      <%= t('pages.about_us.para2_text1') %>
    </p>
    <p>
      <%= t('pages.about_us.para2_text2') %>
    </p>

    <h2 class="mt-5 mb-3 text-xl md:text-2xl text-blue-900">
      <%= t('pages.about_us.para3_title') %>
    </h2>
    <p>
      <%= t('pages.about_us.para3_text') %>
    </p>

    <h2 class="mt-5 mb-3 text-xl md:text-2xl text-blue-900" id="our_partners">
      <%= t('pages.about_us.para4_title') %>
    </h2>
    <p class="mb-3">
      <%= t('pages.about_us.para4_text1') %>
    </p>
    <p>
      <%= t('pages.about_us.para4_text2') %>
    </p>

    <h2 class="mt-5 mb-3 text-xl md:text-2xl text-blue-900">
      <%= t('pages.about_us.para5_title') %>
    </h2>
    <p>
      <%= t('pages.about_us.para5_text').html_safe %>
    </p>
  </div>
</div>
