<% content_for(:page_title) { I18n.t("pages.privacy_policy.page_title") } %>

<div class="px-3 md:flex justify-around py-8 xl:py-10">
  <div class="md:w-1/2">
    <h1 class="text-blue-900 md:text-4xl text-2xl"><%= t("pages.privacy_policy.title") %></h1>
    <p>
      <%= t("pages.privacy_policy.para1") %>
    </p>

    <h2 class="mt-6"><%= t("pages.privacy_policy.para2_title") %></h2>
    <p class="mb-4">
      <%= t("pages.privacy_policy.para2_text1").html_safe %>
    </p>
    <p class="mb-4">
      <%= t("pages.privacy_policy.para2_text2").html_safe %>
    </p>
    <p class="mb-4">
      <%= t("pages.privacy_policy.para2_text3").html_safe %>
    </p>
    <p class="mb-4">
      <%= t("pages.privacy_policy.para2_text4").html_safe %>
    </p>

    <h2 class="mt-6"><%= t("pages.privacy_policy.para3_title") %></h2>
    <p class="mb-4">
      <%= t("pages.privacy_policy.para3_text1").html_safe %>
    </p>
    <p class="mb-4">
      <%= t("pages.privacy_policy.para3_text2").html_safe %>
    </p>
    <p class="mb-4">
      <%= t("pages.privacy_policy.para3_text3").html_safe %>
    </p>
    <p class="mb-4">
      <%= t("pages.privacy_policy.para3_text4").html_safe %>
    </p>
    <p class="mb-4">
      <%= t("pages.privacy_policy.para3_text5").html_safe %>
    </p>
    <p class="mb-4">
      <%= t("pages.privacy_policy.para3_text6").html_safe %>
    </p>
    <p class="mb-4">
      <%= t("pages.privacy_policy.para3_text7").html_safe %>
    </p>
    <p class="mb-4">
      <%= t("pages.privacy_policy.para3_text8") %>
    </p>
    <p class="mb-4">
      <%= t("pages.privacy_policy.para3_text9") %>
    </p>
    <p>
      <%= t("pages.privacy_policy.para3_text10") %>
    </p>

    <h2 class="mt-6">
      <%= t("pages.privacy_policy.para4_title") %>
    </h2>
    <p class="mb-4">
      <%= t("pages.privacy_policy.para4_text1").html_safe %>
    </p>
    <p class="mb-4">
      <%= t("pages.privacy_policy.para4_text2").html_safe %>
    </p>
    <p class="mb-4">
      <%= t("pages.privacy_policy.para4_text3").html_safe %>
    </p>
    <p class="mb-4">
      <%= t("pages.privacy_policy.para4_text4").html_safe %>
    </p>

    <h2 class="mt-6"><%= t("pages.privacy_policy.para5_title") %></h2>
    <p>
      <%= t("pages.privacy_policy.para5_text") %>
    </p>

    <h2 class="mt-6">
      <%= t("pages.privacy_policy.para6_title") %>
    </h2>
    <p>
      <%= t("pages.privacy_policy.para6_text1") %>
    </p>
    <%= t("pages.privacy_policy.para6_list1").html_safe %>
    <p class="mb-4">
      <%= t("pages.privacy_policy.para6_text2") %>
    </p>
    <p class="mb-4">
      <%= t("pages.privacy_policy.para6_text3") %>
    </p>
    <p class="mb-4">
      <%= t("pages.privacy_policy.para6_text4") %>
    </p>
    <p>
      <%= t("pages.privacy_policy.para6_text5") %>
    </p>
    <%= t("pages.privacy_policy.para6_list2").html_safe %>
    <p>
      <%= t("pages.privacy_policy.para6_text6") %>
    </p>

    <h2 class="mt-6">
      <%= t("pages.privacy_policy.para7_title") %>
    </h2>
    <p class="mb-4">
      <%= t("pages.privacy_policy.para7_text1") %>
    </p>
    <p>
      <%= t("pages.privacy_policy.para7_text2").html_safe %>
    </p>
  </div>
</div>
