<% content_for(:page_title) { I18n.t("pages.resources.page_title") } %>

<div class="px-5 py-10 md:px-20 lg:px-40 md:py-20" x-data="{ showWelshResources: true }">
  <div  class="md:w-2/3 mx-auto">
    <div class="bg-bbc-dark-blue p-6 md:p-14 relative text-center">
      <h1 class="text-4xl text-bbc-yellow">
        <%= t('pages.resources.title') %>
      </h1>

      <h2 class="font-normal text-lg text-white">
        <%= t('pages.resources.text') %>
      </h2>

      <a href="#" x-show="!showWelshResources" class="cursor-pointer link text-white" @click.prevent="$event.preventDefault()" @click="showWelshResources = true">
        <%= t('pages.resources.welsh_resources') %>      
      </a>
      <a href="#" x-show="showWelshResources" class="cursor-pointer link text-white" @click.prevent="$event.preventDefault()" @click="showWelshResources = false">
        <%= t('pages.resources.english_resources') %>
      </a>
    </div>
    <div class="mt-8">
      <div x-show="showWelshResources">
        <%= t('pages.resources.wales.body').html_safe %>
      </div>

      <div x-show="!showWelshResources">
        <%= t('pages.resources.england.body').html_safe %>
      </div>
    </div>
  </div>
</div>

