<% content_for(:page_title) { I18n.t("pages.terms.page_title") } %>

<div class="px-3 md:flex justify-around py-8 xl:py-10">
  <div class="md:w-1/2">
    <h1 class="text-blue-900 md:text-4xl text-2xl"><%= t('pages.terms.title') %></h1>
    <p class="mb-4">
      <%= t('pages.terms.para1') %>
    </p>
    <p class="mb-4">
      <%= t('pages.terms.para2').html_safe %>
    </p>
    <p class="mb-4">
      <%= t('pages.terms.para3') %>
    </p>
    <p class="mb-4">
      <%= t('pages.terms.para4') %>
    </p>
    <%= t('pages.terms.list1').html_safe %>
    <p class="mb-4">
      <%= t('pages.terms.para5') %>
    </p>
    <p class="mb-4">
      <%= t('pages.terms.para6') %>
    </p>
    <p>
      <%= t('pages.terms.para7') %>
    </p>
    <%= t('pages.terms.list2').html_safe %>
    <p>
      <%= t('pages.terms.para8') %>
    </p>
    <%= t('pages.terms.list3').html_safe %>
    <p class="mb-4">
      <%= t('pages.terms.para9') %>
    </p>
    <p class="mb-4">
      <%= t('pages.terms.para10') %>
    </p>
    <p class="mb-4">
      <%= t('pages.terms.para11') %>
    </p>
    <p class="mb-4">
      <%= t('pages.terms.para12') %>
    </p>
    <p>
      <%= t('pages.terms.para13').html_safe %>
    </p>
  </div>
</div>
