<% content_for(:page_title) { @language == "cy" ? @survey.title_cy : @survey.title_en } %>

<div class="w-full lg:w-1/2 mx-auto py-10 px-5 bg-white md:my-10">
  <% if @back_link %>
    <%= link_to "Back to editing survey", @back_link, class: "link mb-4 inline-block" %>
  <% end %>
  <div class="bg-bbc-dark-blue p-4 relative pb-14 survey-header">
    <%= vite_image_tag "images/bottom-corner-accent.png", alt: "", "aria-hidden": "true", class: "absolute bottom-0 right-0 w-14 md:w-18 lg:w-24 z-0" %>
    <h1 class="text-3xl text-bbc-yellow">
      <%= @language == "cy" ? @survey.title_cy : @survey.title_en %>
    </h1>

    <%= @language == "cy" ? @survey.intro_cy : @survey.intro_en %>
  </div>

  <%= simple_form_for @survey, url: survey_path(@survey), method: :patch do |f| %>
    <%= hidden_field_tag :token, params[:token] %>
    <div class="px-2">
      <% @survey.survey_sections.order(:position).each do |section| %>
        <h2 class="mb-0 mt-8"><%= @language == "cy" ? section.title_cy : section.title_en %></h2>
        <%= f.simple_fields_for :questions, @questions.group_by(&:survey_section_id)[section.id].sort_by(&:position) do |q| %>
          <%= q.simple_fields_for :answers do |ff| %>
            <%= ff.input :user_id, as: :hidden, value: @user.id %>
            <%= ff.input :question_id, as: :hidden, value: q.object.id %>
            <% case q.object.question_type %>
            <% when "text" %>
              <%= 
                ff.input :response,
                label: (sanitize @language == "cy" ? q.object.text_cy.html_safe : q.object.text_en.html_safe),
                hint: (sanitize @language == "cy" ? q.object.hint_cy&.html_safe : q.object.hint_en&.html_safe),
                input_html: { class: "w-full" },
                wrapper_html: { class: "my-4" },
                required: false,
                label_html: { class: "!font-semibold" }
              %>
            
            <% when "check_boxes" %>
              <%= ff.input :response,
                label: (sanitize @language == "cy" ? q.object.text_cy.html_safe : q.object.text_en.html_safe),
                collection: @language == "cy" ? q.object.options_cy : q.object.options_en,
                hint: (sanitize @language == "cy" ? q.object.hint_cy&.html_safe : q.object.hint_en&.html_safe),
                as: :check_boxes,
                required: false,
                wrapper_html: { class: "my-4", "x-data": "noneOfTheAbove" },
                input_html: {
                  class: 'mr-2',
                },
                label_html: { class: "!font-semibold" }
              %>

            <% when "radio_buttons" %>
              <%= ff.input :response,
                label: (sanitize @language == "cy" ? q.object.text_cy.html_safe : q.object.text_en.html_safe),
                collection: @language == "cy" ? q.object.options_cy : q.object.options_en,
                hint: (sanitize @language == "cy" ? q.object.hint_cy&.html_safe : q.object.hint_en&.html_safe),
                as: :radio_buttons,
                required: false,
                wrapper_html: {
                  class: "my-4 flex flex-col"
                },
                input_html: { 
                  class: "mr-2",
                },
                label_html: { class: "!font-semibold" }
              %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <%= f.submit "Submit", class: "btn btn-primary mt-6" %>
    </div>
  <% end %>
</div>
