<div class="flex justify-between items-baseline">
  <h1 class="text-4xl mb-8">Message contents</h1>
  <%= link_to "Create content group", new_admin_group_path, class: "btn btn-primary bg-bbc-blue text-white" %>
</div>
<p>The messages we send caregivers.</p>
<table class="table-auto mt-5">
  <thead>
    <tr class="px-4 py-4 bg-blue-300 text-left">
      <th class="p-4 w-3/4">Content group name</th>
      <th class="p-4 w-1/5">No. of messages</th>
      <th>&nbsp</th>
    </tr>
  </thead>
  <tbody class="bg-white">
    <% @groups.each do |group| %>
      <tr class="border-b-2">
        <td class="p-4"><%= link_to group.name, admin_group_path(group), class: "underline hover:no-underline" %></td>
        <td class="p-4"><%= group.contents.active.size %></td>
        <td class="p-4">
          <%= link_to "Edit", edit_admin_group_path(group), class: "underline hover:no-underline" %>
          <div x-data="{
            deleteGroup() {
              if (window.confirm('Are you sure?')) {
                this.$refs.deleteForm.requestSubmit();
              }
            }
        }">
          <a href="#" @click.prevent="deleteGroup()">Delete</a>

          <%= form_with url: admin_group_path(group), method: :delete, 
              html: { "x-ref": "deleteForm", class: "hidden" } do %>
          <% end %>
        </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
