<div class="bg-blue-50 p-8">
  <div class="flex justify-between mb-4">
    <div>
      <h1 class="mb-4 text-4xl"><%= @user.full_name %></h1>

      <% unless @user.contactable? %>
        <p class="text-red-600 font-bold mb-2 text-xl">This user has opted out</p>
      <% end %>
      <p><%= @user.language == "en" ? "English" : "Welsh" %> speaker</p>
      <p><%= @user.postcode %></p>
      <p><%= @user.phone_number %></p>
      <p><%= @user.child_age_in_months_today %> month old child</p>
    </div>
    <div>
      <%= link_to "Send message", new_admin_user_message_path(@user), class: "btn btn-primary bg-bbc-blue text-white" %>
      <% if @user.contactable? %>
        <%= simple_form_for @user, url: admin_user_path(@user), method: :patch do |f| %>
          <%= f.input :contactable, as: :hidden, input_html: {value: false} %>
          <%= f.submit "Stop sending texts", class: "btn text-white mt-3 bg-bbc-red" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<table class="table-auto mt-8 w-full">
  <thead>
    <tr class="bg-blue-300">
      <th class="px-4 py-4 text-left">Messages</th>
      <th class="px-4 py-4 text-left">Status</th>
    </tr>
  </thead>
  <tbody>
    <% if @user.messages.any? %>
      <% @user.messages.order(created_at: :asc).each do |message| %>
        <tr class="border-b-2">
          <td class="px-4 py-4 bg-white"><%= message.body %></td>
          <td class="px-4 py-4 bg-white"><%= message.admin_status %></td>
        </tr>
      <% end %>
    <% else %>
      <tr class="border-b-2">
        <td class="px-4 py-4 bg-white">No messages sent or received yet</td>
      </tr>
    <% end %>
  </tbody>
</table>
