<nav class="py-5 bg-bbc-dark-blue text-white sticky" role="navigation">
  <div class="md:px-24 px-5 flex items-center w-full justify-between">
    <%= link_to root_url, class: "md:w-1/2 w-fit flex items-center", "aria-label": "CBeebies Parenting text messaging home" do %>
      <%= vite_image_tag "images/horizontal-logo.png", alt: "", "aria-hidden": true, class: "h-5 md:h-6" %>
    <% end %>
    <div class="flex w-fit items-baseline gap-5">
      <% if ENV.fetch("ENABLE_WELSH", false) == "true" || Rails.env.test? %>
        <div class="flex gap-1 md:gap-3 items-baseline">
          <%= link_to "English", url_for(request.query_parameters.merge(locale: :en)), class: "#{I18n.locale == :en ? 'font-bold' : 'link'} text-xs md:text-lg" %>
          |
          <%= link_to "Cymraeg", url_for(request.query_parameters.merge(locale: :cy)), class: "#{I18n.locale == :cy ? 'font-bold' : 'link'} text-xs md:text-lg" %>
        </div>
      <% end %>
      <div class="hidden md:block">
        <% if current_admin %>
          <div class="flex gap-1 md:gap-5 items-baseline">
            <%= link_to "Dashboard", dashboard_admin_users_path, class: "text-lg #{'font-bold' if request.url.include?('admin')}" %>
            
            <div x-data="groupManager()">
              <%= form_with url: destroy_admin_session_path, method: :delete, html: { "x-ref": "logoutForm" } do %>
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                <%= hidden_field_tag :_method, :delete %>
              <% end %>
              <button @click="logOut()" class="text-lg">
                Sign out
              </button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</nav>
