<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tiny Happy People</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Free texts sent weekly to your phone for fun activities to try out with your child from BBC's Tiny Happy People">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <% if flash[:notice] %>
      <div class="md:px-28 px-3 py-5">
        <p class="">
          <%= flash[:notice] %>
        </p>
      </div>
    <% end %>
    <main class="<%= @no_padding ? "" : "mx-auto p-4 py-10 lg:py-20" %> w-full">
      <%= yield %>
    </main>
    <footer class="bg-gray-500 text-white text-sm sm:text-base">
      <div class="w-full xl:container mx-auto my-3 px-8">
        <div class="flex flex-wrap pt-6 lg:py-8 md:justify-around">
          <div class="w-full md:w-6/12 pr-0 md:pr-4 mb-4">
            <h2 class="text-lg sm:text-xl mb-5">Tiny Happy People Text Messaging</h2>
            <p>
              Tiny Happy People Text Messaging is a pilot service run by Nesta, the UK's innovation agency for social good. Nesta's fairer start mission aims to ensure that by 2030, every child in the UK will have the same chance of developing to their full potential in the early years.
            </p>
          </div>
          <div class="w-full md:w-4/12 mb-4 border-l-none md:border-l border-white pl-0 md:pl-4">
            <div class="flex flex-col gap-4">
              <%= link_to 'About us', '#', class: 'link', target: '_blank', rel: 'noopener' %>
              <%= link_to 'Terms of use', terms_path, class: 'link', target: '_blank', rel: 'noopener' %>
              <%= link_to 'Privacy policy', privacy_policy_path, class: 'link', target: '_blank', rel: 'noopener' %>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
