<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tiny Happy People</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <% if flash[:notice] %>
      <div class="md:px-28 px-3 py-5">
        <p class="">
          <%= flash[:notice] %>
        </p>
      </div>
    <% end %>
    <main class="py-20 w-full <%= @full_width ? '' : 'xl:container' %> mx-auto flex-1 <%= @disable_layout_padding ? '' : 'p-4' %>">
      <%= yield %>
    </main>
  </body>
</html>
