<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= content_for?(:page_title) ? yield(:page_title) + " | #{I18n.t('titles.application')}" : I18n.t('titles.application') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="<%= I18n.t('descriptions.application') %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="turbo-prefetch" content="false">
    <meta name="turbo-cache-control" content="no-preview">

    <%= vite_client_tag %>
    <%= vite_stylesheet_tag 'application', media: 'all' %>
    <%= vite_typescript_tag 'application' %>
    <%= content_for :scripts %>

    <% unless Rails.env.test? %>
      <script src="https://cc.cdn.civiccomputing.com/9/cookieControl-9.x.min.js" data-turbo-track="reload"></script>
    <% end %>

    <script nonce="<%= content_security_policy_nonce %>">
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}

      // Default all to 'denied' for privacy-first approach
      gtag('consent', 'default', {
        'ad_storage': 'denied',
        'ad_user_data': 'denied',
        'ad_personalization': 'denied',
        'analytics_storage': 'denied',
        'wait_for_update': 500 // Gives Cookie Control time to load saved settings
      });
    </script>

    <% if Rails.env.production? %>
      <!-- Google Tag Manager -->
      <script nonce="<%= content_security_policy_nonce %>">
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-NWN4JM5J');
      </script>
      <!-- End Google Tag Manager -->

      <!-- Meta Pixel Code -->
      <script nonce="<%= content_security_policy_nonce %>">
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '970549168898397');
        fbq('track', 'PageView');
      </script>
      <!-- End Meta Pixel Code -->

      <!-- TikTok Pixel Code Start -->
      <script nonce="<%= content_security_policy_nonce %>">
        !function (w, d, t) {
        w.TiktokAnalyticsObject=t;var ttq=w[t]=w[t]||[];ttq.methods=["page","track","identify","instances","debug","on","off","once","ready","alias","group","enableCookie","disableCookie","holdConsent","revokeConsent","grantConsent"],ttq.setAndDefer=function(t,e){t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var i=0;i<ttq.methods.length;i++)ttq.setAndDefer(ttq,ttq.methods[i]);ttq.instance=function(t){for(
        var e=ttq._i[t]||[],n=0;n<ttq.methods.length;n++)ttq.setAndDefer(e,ttq.methods[n]);return e},ttq.load=function(e,n){var r="https://analytics.tiktok.com/i18n/pixel/events.js",o=n&&n.partner;ttq._i=ttq._i||{},ttq._i[e]=[],ttq._i[e]._u=r,ttq._t=ttq._t||{},ttq._t[e]=+new Date,ttq._o=ttq._o||{},ttq._o[e]=n||{};n=document.createElement("script")
        ;n.type="text/javascript",n.async=!0,n.src=r+"?sdkid="+e+"&lib="+t;e=document.getElementsByTagName("script")[0];e.parentNode.insertBefore(n,e)};
        ttq.load('D7TJP6RC77U9E9A36HLG');
        ttq.page();
        }(window, document, 'ttq');
      </script>
      <!-- TikTok Pixel Code End -->
    <% end %>
  </head>

  <body class="bg-slate-50">
    <a href="#main" data-turbo="false" class="absolute -top-20 left-0 z-[100] focus:top-0 focus:left-0 p-4 text-white bg-bbc-dark-blue text-lg">Skip to main content</a>
    <%= render "layouts/navbar" %>
    <main class="w-full" role="main" id="main" tabindex="-1">
      <% if current_admin && @hide_sidebar.blank? %>
        <div class="grid grid-cols-4 h-svh">
          <%= render "layouts/sidebar" %>
          <div class="mt-10 col-span-3 px-20">
            <% if flash[:notice] %>
              <div class="px-3 py-5 bg-green-300 mb-10">
                <p class="">
                  <%= flash[:notice] %>
                </p>
              </div>
            <% end %>
            <% if flash[:alert] %>
              <div class="px-3 py-5 bg-red-300 mb-10">
                <p class="">
                  <%= flash[:alert] %>
                </p>
              </div>
            <% end %>
            <%= yield %>
          </div>
        </div>
      <% else %>
        <% if flash[:notice] %>
          <div class="md:px-28 px-3 py-5">
            <p class="">
              <%= flash[:notice] %>
            </p>
          </div>
        <% end %>
        <% if flash[:alert] %>
          <div class="px-3 py-5 bg-red-300 mb-10">
            <p class="">
              <%= flash[:alert] %>
            </p>
          </div>
        <% end %>
        <%= yield %>
      <% end %>
    </main>
    <% if @show_footer %>
      <%= render "layouts/footer" %>
    <% end %>
    <% unless Rails.env.test? %>
      <%= render 'layouts/cookie_banner' %>
    <% end %>
  </body>
</html>
