<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tiny Happy People</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Free texts sent weekly to your phone for fun activities to try out with your child from BBC's Tiny Happy People">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <% if flash[:notice] %>
      <div class="md:px-28 px-3 py-5">
        <p class="">
          <%= flash[:notice] %>
        </p>
      </div>
    <% end %>
    <main class="<%= @no_padding ? "" : "mx-auto py-10 lg:py-20 container" %> w-full">
      <%= yield %>
    </main>
    <% if @show_footer %>
      <%= render "layouts/footer" %>
    <% end %>
  </body>
</html>
