<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= content_for?(:page_title) ? yield(:page_title) + " | #{I18n.t('titles.application')}" : I18n.t('titles.application') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="<%= I18n.t('descriptions.application') %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="turbo-prefetch" content="false">
    <meta name="turbo-cache-control" content="no-preview">

    <%= vite_client_tag %>
    <%= vite_stylesheet_tag 'application', media: 'all' %>
    <%= vite_typescript_tag 'application' %>
    <%= content_for :scripts %>
    <%= favicon_link_tag vite_asset_path("images/thumbnail.png") %>

    <script nonce="<%= content_security_policy_nonce %>">
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}

      // Default all to 'denied' for privacy-first approach
      gtag('consent', 'default', {
        'ad_storage': 'denied',
        'ad_user_data': 'denied',
        'ad_personalization': 'denied',
        'analytics_storage': 'denied',
        'wait_for_update': 2000 // Gives Cookie Control time to load saved settings
      });
    </script>

    <% unless Rails.env.test? %>
      <script nonce="<%= content_security_policy_nonce %>">
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-NWN4JM5J');
      </script>
      <script defer src="https://cc.cdn.civiccomputing.com/9/cookieControl-9.x.min.js" data-turbo-track="reload" nonce="<%= content_security_policy_nonce %>"></script>
    <% end %>
  </head>

  <body class="bg-slate-50">
    <a href="#main" data-turbo="false" class="absolute -top-20 left-0 z-[100] focus:top-0 focus:left-0 p-4 text-white bg-bbc-dark-blue text-lg"><%= I18n.t('layouts.skip_to_main_content') %></a>
    <%= render "layouts/navbar" %>
    <main class="w-full" role="main" id="main" tabindex="-1">
      <% if current_admin && @hide_sidebar.blank? %>
        <div class="grid grid-cols-4 h-svh">
          <%= render "layouts/sidebar" %>
          <div class="mt-10 col-span-3 px-20">
            <% if flash[:notice] %>
              <div class="px-3 py-5 bg-green-300 mb-10">
                <p class="">
                  <%= flash[:notice] %>
                </p>
              </div>
            <% end %>
            <% if flash[:alert] %>
              <div class="px-3 py-5 bg-red-300 mb-10">
                <p class="">
                  <%= flash[:alert] %>
                </p>
              </div>
            <% end %>
            <%= yield %>
          </div>
        </div>
      <% else %>
        <% if flash[:notice] %>
          <div class="md:px-28 px-3 py-5">
            <p class="">
              <%= flash[:notice] %>
            </p>
          </div>
        <% end %>
        <% if flash[:alert] %>
          <div class="px-3 py-5 bg-red-300 mb-10">
            <p class="">
              <%= flash[:alert] %>
            </p>
          </div>
        <% end %>
        <%= yield %>
      <% end %>
    </main>
    <% if @show_footer %>
      <%= render "layouts/footer" %>
    <% end %>
    <% unless Rails.env.test? %>
      <%= render 'layouts/cookie_banner' %>
    <% end %>
  </body>
</html>
