<!DOCTYPE html>
<html>
  <head>
    <title>Tiny Happy People</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <main>
      <% if flash[:notice] %>
        <div class="bg-red-200 w-full border-b border-red-200 pt-5">
          <p class="bg-red-400 w-fit ml-28 px-4 py-2 rounded-lg">
            <%= flash[:notice] %>
          </p>
        </div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
