<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for?(:page_title) ? yield(:page_title) + " | BBC Tiny Happy People Text Messaging" : "BBC Tiny Happy People Text Messaging" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Free texts sent weekly to your phone for fun activities to try out with your child from BBC's Tiny Happy People">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload", nonce: true %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload", nonce: true %>
    <%= favicon_link_tag asset_path('thumbnail.png') %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <main class="w-full" role="main" id="main">
      <% if flash[:notice] %>
        <div class="md:px-28 px-3 py-5">
          <p class="">
            <%= flash[:notice] %>
          </p>
        </div>
      <% end %>
      <% if current_admin && @hide_sidebar.blank? %>
        <div class="grid grid-cols-4 gap-10 px-24">
          <%= render "layouts/sidebar" %>
          <div class="mt-10 col-span-3 px-10">
            <%= yield %>
          </div>
        </div>
      <% else %>
        <%= yield %>
      <% end %>
    </main>
    <% if @show_footer %>
      <%= render "layouts/footer" %>
    <% end %>
  </body>
</html>
